---
import Btn from "../components/Btn.astro";
import PersonCard from "../components/PersonCard.astro";
import Layout from "../layouts/Layout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Layout title="Aula Software Libre - Aula">
      <section
        class="flex flex-col items-center justify-center pt-32 md:pt-24 lg:pt-28 xl:pt-32 bg-hero-gradient bg-center bg-cover bg-clip-padding"
        aria-labelledby="main-title"
      >
        <div class="mx-auto px-4 sm:px-6 lg:px-8 text-center">
          <h1
            id="main-title"
            class="mx-auto font-bold text-4xl sm:text-5xl lg:text-6xl text-white mb-4 leading-tight"
          >
            <span class="important-text text-main">Aula de Software Libre</span>
            <br />
            <span class="important-text text-white">FP Córdoba</span>
          </h1>

          <nav
            aria-label="Menú principal"
            class="flex items-center justify-center"
          >
            <ul
              class="flex sm:flex-row text-white rounded-lg bg-[#14272a] m-4 sm:m-8 md:m-10 lg:m-12 max-w-[29rem]"
            >
              <li>
                <a
                  href="/talleres"
                  class="block rounded-lg hover:bg-[#1d363a] p-4 transition-all duration-300"
                  aria-label="Ir a Talleres"
                >
                  Talleres
                </a>
              </li>
              <li>
                <a
                  href="/proyectos"
                  class="block rounded-lg hover:bg-[#1d363a] p-4 transition-all duration-300"
                  aria-label="Ir a Proyectos"
                >
                  Proyectos
                </a>
              </li>
              <li>
                <a
                  href="/eventos"
                  class="block rounded-lg hover:bg-[#1d363a] p-4 transition-all duration-300"
                  aria-label="Suscríbete"
                >
                  Eventos
                </a>
              </li>
            </ul>
          </nav>

          <section id="newsletter">
            <Btn href="" text="Suscríbete a la newsletter" />
          </section>

          <section
            id="equipo"
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 xl:grid-cols-5 gap-6 mt-16 mb-52 justify-items-center"
          >
            <PersonCard imgSrc="/person.avif" altText="Foto integrante" name="Alejandro Moral Bermejo" />
            <PersonCard imgSrc="/person.avif" altText="Foto integrante" name="Juan Deogracias Moya"/>
            <PersonCard imgSrc="/person.avif" altText="Foto integrante" name="Ignacio de Loyola Díaz"/>
            <PersonCard imgSrc="/person.avif" altText="Foto integrante" name="Álvaro Fernández Amaro"/>
            <PersonCard imgSrc="/person.avif" altText="Foto integrante" name="Francisco Bermejo Melero"/>
            <PersonCard imgSrc="/person.avif" altText="Foto integrante" name="Manuel Torres Alcázar"/>
            <PersonCard imgSrc="/person.avif" altText="Foto integrante" name="Adrián Cruz Barranco"/>
            <PersonCard imgSrc="/person.avif" altText="Foto integrante" name="Daniel Acosta Castilla"/>
            <PersonCard imgSrc="/person.avif" altText="Foto integrante" name="Óscar Muñoz Molinero"/>
            <PersonCard imgSrc="/person.avif" altText="Foto integrante" name="Francisco José Navarro Ruiz"/>
          </section>
        </div>
      </section>
    </Layout>
  </body>
</html>
