---
import Layout from "../layouts/LayoutMain.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <Layout title="Aula Software Libre - Aula">
  </Layout>
</body>
</html>