---
import Btn from "../components/Btn";
import Contacto from "../components/Contacto.astro";
import PersonCard from "../components/PersonCard";
import Layout from "../layouts/Layout.astro";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faInfoCircle } from "@fortawesome/free-solid-svg-icons";

const teamMembers = [
  {
    imgSrc: "/person.avif",
    altText: "Foto integrante",
    name: "Alejandro Moral Bermejo",
  },
  {
    imgSrc: "/person.avif",
    altText: "Foto integrante",
    name: "Juan Deogracias Moya",
  },
  {
    imgSrc: "/person.avif",
    altText: "Foto integrante",
    name: "Ignacio de Loyola Díaz Jiménez",
  },
  {
    imgSrc: "/person.avif",
    altText: "Foto integrante",
    name: "Álvaro Fernández Amaro",
  },
  {
    imgSrc: "/person.avif",
    altText: "Foto integrante",
    name: "Francisco Bermejo Melero",
  },
  {
    imgSrc: "/person.avif",
    altText: "Foto integrante",
    name: "Manuel Torres Alcázar",
  },
  {
    imgSrc: "/person.avif",
    altText: "Foto integrante",
    name: "Adrián Cruz Barranco",
  },
  {
    imgSrc: "/person.avif",
    altText: "Foto integrante",
    name: "Daniel Acosta Castilla",
  },
  {
    imgSrc: "/person.avif",
    altText: "Foto integrante",
    name: "Óscar Muñoz Molinero",
  },
  {
    imgSrc: "/person.avif",
    altText: "Foto integrante",
    name: "Francisco José Navarro Ruiz",
  },
];
---

<Layout title="Aula Software Libre - Inicio">
  <main>
    <section
      class="min-h-screen flex flex-col justify-between pt-32 md:pt-24 lg:pt-28 xl:pt-32 bg-hero-gradient bg-center bg-cover"
    >
      <div
        class="flex flex-col justify-center items-center flex-1 text-center px-4"
      >
        <h1
          class="max-w-lg mx-auto font-bold text-4xl md:text-6xl xl:text-6xl text-white mb-4"
        >
          <span class="important-text text-white">Bienvenid@ al</span>
          <span class="important-text text-main">Aula de Software Libre</span>
        </h1>
        <p
          class="max-w-md mx-auto text-sm md:text-lg font-normal text-slate-300 mb-6"
        >
          Transformamos Ideas en Soluciones Abiertas, Fomentando el Conocimiento
          y la Creatividad en Cada Proyecto.
        </p>

        <Btn href="/register" text="Únete a nosotros" />
      </div>

      <div class="w-full flex justify-center mt-auto px-4">
        <img
          src="/photo.avif"
          alt="Github Img"
          width="800"
          height="600"
          class="rounded-t-3xl h-auto w-[95%] md:w-[70%] lg:w-[60%] xl:w-[50%] object-contain shadow-2xl"
        />
      </div>
    </section>

    <section
      class="max-w-full flex flex-col items-center justify-center pt-20 md:pt-24 lg:pt-28 xl:pt-20 bg-[#102022]"
      aria-labelledby="main-title"
      id="nosotros"
    >
      <h1 class="text-4xl sm:text-5xl lg:text-6xl text-main text-center">
        <span class="important-text text-white">¿Quiénes</span>
        <span class="important-text text-main">somos?</span>
      </h1>

      <div class="grid lg:flex w-full mt-20 bg-[#091214]/40">
        <img
          src="/appluna.avif"
          alt=""
          class="w-full lg:w-[50%] object-cover"
          width="700"
          height="700"
        />
        <div
          class="grid w-full lg:w-[50%] text-white p-10 xl:p-0 text-start mx-auto my-auto max-w-[90%] lg:max-w-[40%] pb-20 gap-8"
        >
          <div class="flex items-center gap-3 justify-center lg:justify-start">
            <FontAwesomeIcon
              icon={faInfoCircle}
              className="hidden xl:flex size-5 text-main"
            />
            <h2 class="text-3xl text-center lg:text-left xl:mt-0">
              ¿Qué es el Aula de Software Libre?
            </h2>
          </div>
          <p>
            El Aula de Software Libre de la FP de Córdoba representa una
            oportunidad única de impulsar el aprendizaje tecnológico, fomentar
            la innovación y preparar a nuestros estudiantes para el éxito en el
            mundo laboral y el fomento de los valores del Software libre.
            Nuestro objetivo es establecer un espacio equipado con tecnologías y
            recursos necesarios para que
            los estudiantes puedan explorar, aprender y desarrollar habilidades
            en el ámbito del software libre. 
            <br><br>
            La finalidad del Aula de Software
            Libre es ofrecer a nuestros estudiantes un entorno propicio para la
            experimentación, la creatividad y el aprendizaje colaborativo.
            Queremos impulsar el desarrollo de habilidades técnicas y el
            pensamiento crítico, preparando a nuestros compañeros para enfrentar
            los desafíos del mundo laboral con confianza y competencia. Dar la
            posibilidad de aportar a los alumnos sus
            habilidades,conocimientos,recursos e incluso contactos con un fin
            altruista y constructivo en son de la mejora continua y apoyo entre
            compañeros.
          </p>
        </div>
      </div>
    </section>

    <section
      class="flex flex-col items-center justify-center pt-32 md:pt-24 lg:pt-28 xl:pt-32 bg-[#172d30] bg-center bg-cover bg-clip-padding"
      aria-labelledby="main-title"
    >
      <div class="mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <h1
          id="main-title"
          class="mx-auto font-bold text-4xl sm:text-5xl lg:text-6xl text-white mb-4 leading-tight"
        >
          <span class="important-text text-main">Nuestro</span>
          <span class="important-text text-white">equipo</span>
        </h1>

        <div
          id="equipo"
          class="grid grid-cols-2 md:grid-cols-5 lg:grid-cols-5 xl:grid-cols-5 gap-6 mt-16 mb-32 justify-items-center"
        >
          {
            teamMembers.map((member) => (
              <PersonCard
                imgSrc={member.imgSrc}
                altText={member.altText}
                name={member.name}
              />
            ))
          }
        </div>
      </div>
    </section>
  </main>
  <Contacto />
</Layout>
