---
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
---


<header class="bg-[#0d0d30] w-screen h-20 fixed z-50">
  <div class="flex justify-start items-center h-full px-4">
    <div class="flex-grow flex justify-center">
      <img src="../../logo.svg" class="rounded-full h-16 w-16 hover:h-[4.5rem] hover:w-[4.5rem] transition-all duration-500 cursor-pointer " />
    </div>
    </div>
  </div>
</header>
