---
---

<header
  class="bg-gradient-to-b from-[#0d0d30] to-transparent w-screen h-20 fixed z-50"
>
  <div class="flex items-center h-full px-4 justify-between">
    <ul class="flex gap-3 text-slate-400 ml-5">
      <li>
        <a href="#" class="hover:text-white transition-all duration-300">
          Inicio
        </a>
      </li>
    </ul>
    <ul class="flex gap-3 text-slate-400 mr-5">
      <li id="welcomeMessage" class="hidden">
        <span class="text-slate-400 text-xs"></span>
      </li>
      <li>
        <a href="#contacto" class="hover:text-white transition-all duration-300">
          Contacto
        </a>
      </li>
    </ul>
  </div>
</header>

<script>
  const welcomeMessage = document.getElementById('welcomeMessage');
  const token = localStorage.getItem('token');
  const username = localStorage.getItem('username');

  if (token && username && welcomeMessage) {
    welcomeMessage.classList.remove('hidden');
    const span = welcomeMessage.querySelector('span');
    if (span) {
      span.textContent = `Bienvenido/a, ${username}`;
    }
  }
</script>
