---
---

<header
  class="bg-gradient-to-b from-[#0d0d30] to-transparent w-screen h-20 fixed z-50"
>
  <div class="flex items-center h-full px-4 justify-between">
    <ul class="flex gap-3 text-slate-400 ml-5">
      <li>
        <a href="#" class="hover:text-white transition-all duration-300">
          Inicio
        </a>
      </li>
    </ul>
    <ul class="flex gap-3 text-slate-400 mr-5">
      <li>
        <a href="#contacto" class="hover:text-white transition-all duration-300">
          Contacto
        </a>
      </li>
    </ul>
  </div>
</header>
