---
import LogoAula from "./LogoAula.astro";
---

<header class="bg-gradient-to-b from-[#14272a] to-transparent w-screen h-20 fixed z-50">
  <div class="flex items-center h-full justify-center gap-10">
    <ul class="flex gap-5 text-slate-300">
      <li>
        <a href="/" class="flex items-center">
          <LogoAula />
        </a>
      </li>
    </ul>
  </div>
</header>
