<section
  class="flex flex-col items-center justify-center pt-32 md:pt-24 lg:pt-28 xl:pt-32 bg-hero-gradient bg-center bg-cover bg-clip-padding"
  aria-labelledby="main-title"
>
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8 text-center">
    <h1 id="main-title" class="max-w-lg mx-auto font-bold text-4xl md:text-5xl xl:text-6xl text-white mb-4 leading-tight">
      <span class="text-main">Aula de Software Libre</span>
      <br>
      <span class="text-white">FP Córdoba</span>
    </h1>

    <nav aria-label="Menú principal">
      <ul class="flex flex-col md:flex-row justify-center text-white rounded-lg bg-[#14272a] m-4 md:m-20">
        <li>
          <a href="#" class="block rounded-lg hover:bg-[#1d363a] p-4 transition-all duration-300" aria-label="Ir a Talleres">
            Talleres 
          </a>
        </li>
        <li>
          <a href="#" class="block rounded-lg hover:bg-[#1d363a] p-4 transition-all duration-300" aria-label="Ir a Proyectos">
            Proyectos 
          </a>
        </li>
        <li>
          <a href="/softwarelibre" class="block rounded-lg hover:bg-[#1d363a] p-4 transition-all duration-300" aria-label="Más sobre Software Libre">
            Software Libre 
          </a>
        </li>
        <li>
          <a href="#" class="block rounded-lg hover:bg-[#1d363a] p-4 transition-all duration-300" aria-label="Suscríbete">
            Suscríbete
          </a>
        </li>
      </ul>
    </nav>

    <section id="equipo" class="flex gap-6 mt-40 mb-52">
      <div class="bg-white w-44 h-60 "></div>
      <div class="bg-white w-44 h-60 "></div>
      <div class="bg-white w-44 h-60 "></div>
      <div class="bg-white w-44 h-60 "></div>
      <div class="bg-white w-44 h-60 "></div>
      <div class="bg-white w-44 h-60 "></div>
      <div class="bg-white w-44 h-60 "></div>
      <div class="bg-white w-44 h-60 "></div>
      <div class="bg-white w-44 h-60 "></div>
      <div class="bg-white w-44 h-60 "></div>
    </section>


  </div>
</section>
