---
import Footer from '../components/FooterMain.astro';
import Header from '../components/HeaderMain.astro';
import Main from '../components/Main.astro';
interface Props {
	title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-[#0d0d43]">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="../../logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header/>
		<slot />
    <Main />
		<Footer />
	</body>
</html>

